<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tunda</title>
  <style>
    * {
      box-sizing: border-box;
    }

    .min-height {
      min-height: 80vh;
      position: relative;
    }

    .center-me {
      position: absolute;
      margin: 0;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 450px;
      background: white;
      border-radius: 0.5em;
      box-shadow: 6px 0px 10px rgb(0 0 0 / 8%), -6px 0 10px rgb(0 0 0 / 8%);
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand fw-bold" href="#">Tunda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="../shop.html">Shop</a></li>
                <li><a class="dropdown-item" href="#">Orders</a></li>
                <li><a class="dropdown-item" href="#">Products</a></li>
                <li><a class="dropdown-item" href="#">Online Catalog</a></li>
                <li><a class="dropdown-item" href="#">Customers</a></li>
                <li><a class="dropdown-item" href="#">Transactions</a></li>
                <li><a class="dropdown-item" href="#">Analytics</a></li>
                <li><a class="dropdown-item" href="#">Users</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Help</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container min-height">
      <div class="center-me text-center py-3 px-4">
        <h5 class="my-4">Open a shop and sell online.</h5>
        <form action="" class="d-flex mb-4">
          <input type="text" name="shopName" id="shopName" placeholder="Shop Name" class="form-control">
          <button class="btn btn-primary ms-3">Create</button>
        </form>
      </div>
    </main>
    <footer class="bg-light text-center py-3">
      <small>&copy; Tunda. Made with 😊 by <a href="https://cathella.github.io/">Nakitto Catherine</a>. </small>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </div>
</body>
</html>